$Pri-colour: #333646;
$Sec-colour: #252734;
$Text-colour: #eaebec;
$Dec-colour: #ffc25c;
$Textbg-colour: #61657a;

@mixin Border {
  border-color: $Dec-colour;
  border-style: solid;
  border-radius: 70px;
}
@mixin Aboutme-head {
  font: {
    family: Arial;
    weight: bold;
    size: 7px;
    style: normal;
  }
  line-height: 170.77%;
  letter-spacing: 0.06em;
  color: $Text-colour;
}
@mixin Aboutme-circle {
  position: absolute;
  width: 250px;
  height: 250px;
  margin-left: 205px;
  margin-top: 1390px;
}
@mixin Aboutme-cont {
  position: absolute;
  width: 892.99px;
  height: 800px;
  margin-top: 342.01px;
  margin-top: 1127px;
}
@mixin Aboutme-typo {
  font: {
    family: Arial;
    style: normal;
    weight: normal;
    size: 30px;
  }
  position: absolute;
  width: 711.97px;
  height: 708.77px;
  margin-top: 1173px;
  line-height: 49px;
  align-items: center;
  text-align: justify;
  letter-spacing: -0.01em;
  color: $Text-colour;
}
