@import "custom";

.container-fluid {
  background-color: $Textbg-colour;
}
.logonav {
  background-color: $Pri-colour;
}
.hero-fluid {
  background-color: $Pri-colour;
  color: $Text-colour;
}
.Aboutme {
  background-color: $Pri-colour;
  @include Aboutmetypo;
}
.Devtools {
  background-color: $Pri-colour;
}
.toolslogos * {
  width: 100px;
}
.Recentworks {
  background-color: $Sec-colour;
}
.Recentworkshead {
  @include Sectionheader_typo;
}
.paypal {
  display: flex;
  background-color: #e5e5e5;
  @include Recenetworks_typos;
}
.Hurdle {
  display: flex;
  background-color: #e5e5e5;
  @include Recenetworks_typos;
}
.Workspicture {
  @include Recentworks_pics;
}
