@use "/css/custom" as *;

.container-fluid {
  background-color: $Textbg-colour;
}
.logonav {
  background-color: $Pri-colour;
}
.hero-fluid {
  background-color: $Pri-colour;
  color: $Text-colour;
}
.Aboutme {
  background-color: $Pri-colour;
  @include Aboutme-head;
}
