@import "custom";

.container-fluid {
  background-color: $Textbg-colour;
}
.logonav {
  background-color: $Pri-colour;
}
.hero-fluid {
  background-color: $Pri-colour;
  color: $Text-colour;
}
.Aboutme {
  background-color: $Pri-colour;
  @include Aboutmetypo;
}
.Devtools {
  background-color: $Pri-colour;
}
.toolslogos * {
  width: 100px;
}
