$Pri-colour: #333646;
$Sec-colour: #252734;
$Text-colour: #eaebec;
$Dec-colour: #ffc25c;
$Textbg-colour: #61657a;

.container-fluid {
  background-color: $Textbg-colour;
}
.navbarText {
  color: $Text-colour;
}
.logonav {
  background-color: $Pri-colour;
}
